* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/airplane.png);

}

html,
body {
    width: 100%;
    height: 100%;
}

/* #searchForm {
    background: rgba(0, 0, 0, .05);
} */

#background-container {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

#background-container::before {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}

h1,
h2,
h4,
label {
    padding: 15px;
    font-family: 'Nothing You Could Do', cursive;
}

.jumbotron-fluid, .btn-primary {
    background-color: rgb(69, 135, 183);
}

.card, .eventDiv {
    border: 2px solid black;
    margin: 20px;
}
/* 
.card-body {
    opacity: 0.4;
}

.card-title, .btn-primary {
    opacity: 1.0;
    z-index: 2;
} */

.btn-primary {
    margin: 0 10px;
}

.eventImg {
    margin-bottom: 20px;
}

#newSearchBtn {
    margin: 0 auto;
    margin-top: 20px;
}